/* index.css */

/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    display: flex; /* Align items horizontally */
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center; /* Center the content */
}

.content {
    margin-top: 20px;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}
